.post-header {
  /* https://css-tricks.com/fun-viewport-units/ */
  min-height: 70vh;
  background-color: #5f709c25;
  display: grid;
  text-align: center;
  padding: 20px;
}

.post-header-grid {
  /* Need to make the title not too wide */
  margin: auto 10%;
}

/* will need to sort out different screen sizes */
.post-header-title {
  /* Gradient code taken from https://fossheim.io/writing/posts/css-text-gradient/ */
  /* Gradient color provided by https://cssgradient.io/ */
  background: var(--gradient-color-default-background);
  background-image: var(--gradient-color);
  background-clip: text;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 5rem;
  /* 
  Not 100% sure of the suitability of vmin/vh for IOS at the moment
  Possibly using vmin would be the best option, review at some point in the future
   */
  /* font-size: 10vmin; */
}

.post-date {
  font-size: 2rem;
  /* 
  Not 100% sure of the suitability of vmin/vh for IOS at the moment
  Possibly using vmin would be the best option, review at some point in the future
   */
  /* font-size: 4vmin; */
}

@media screen and (max-width: 1000px), (max-height: 900px) {
  .post-header-title {
    font-size: 4rem;
  }

  .post-date {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 640px) {
  .post-header-title {
    font-size: 3rem;
  }

  .post-date {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px), (max-height: 600px) {
  .post-header-title {
    font-size: 2rem;
  }

  .post-date {
    font-size: 0.8rem;
  }
}
