.blog-card-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1.5rem;
}

.footer-blog-list {
  grid-template-rows: repeat(4, 1fr);
  margin: 0 10% 0 10%;
  padding-bottom: 2rem;
}

a.blog-card-link {
  box-shadow: none;
  min-width: 100%;
  margin: 0 auto;
  background-image: none;
  border-radius: 4px;
  border-width: 3px;
  border-color: var(--primary-color);
  border-style: solid;
  text-align: center;
  display: grid;
}

div .blog-card {
  margin: auto;
}

div .blog-card h2 {
  font-size: 2.5rem;
}

div .blog-card small {
  font-size: 1rem;
}

div .blog-card-text {
  padding: 1rem 2rem;
}

div .blog-card-text p {
  margin-bottom: 0px;
}

div .blog-card img {
  z-index: 2;
  border-radius: 10px 10px 0px 0px;
}

div .blog-card-title {
  color: var(--secondary-color-light);
  margin: 0 0 1rem 0;

}

div small {
  color: var(--font-color);
}

div p {
  color: var(--font-color);
}

@media screen and (max-width: 1000px) {
  .blog-card-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 1rem;
  }

  .footer-blog-list {
    grid-template-rows: repeat(4, 1fr);
    margin: 0 5% 0 5%;
  }
}

@media screen and (max-width: 640px) {
  div .blog-card h2 {
    font-size: 1.5rem;
  }
}