.blog-card-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(40%, 1fr));
  grid-template-rows: repeat(5, minmax(10%, 1fr));
  grid-gap: 1.5rem;
}

.footer-blog-list {
  grid-template-rows: repeat(2, minmax(10%, 1fr));
  margin: 0 10% 0 10%;
  padding-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
  .blog-card-list {
    grid-template-columns: repeat(1, minmax(90%, 1fr));
    grid-template-rows: repeat(10, minmax(5%, 1fr));
    grid-gap: 1rem;
  }

  .footer-blog-list {
    grid-template-rows: repeat(4, minmax(10%, 1fr));
    margin: 0 5% 0 5%;
  }
}

a.blog-card-link {
  box-shadow: none;
  max-width: 100%;
  margin: 0 auto;
  background-image: none;
}

div .blog-card {
  box-shadow: 6px 9px 4px 0px #00000099;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

div .blog-card-text {
  border-width: 0px 1px 1px 1px;
  border-color: #d6d6d6;
  border-style: solid;
  border-radius: 0px 0px 10px 10px;
  border-color: var(--blog-card-border-color);
  min-height: 15rem;
}

div .blog-card-text p {
  margin-bottom: 0px;
}

div .blog-card img {
  z-index: 2;
  border-radius: 10px 10px 0px 0px;
}

div .blog-card-title {
  color: var(--secondary-color-light);
}

div small {
  color: var(--font-color);
}

div p {
  color: var(--font-color);
}

small.blog-tag {
  color: white;
  background-color: var(--primary-color)
}