nav {
  position: sticky;
  border-bottom: 1px solid #9b9b9b;
  top: 0;
  z-index: 3;
  background-color: white;

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex: 0;
}

nav a svg {
  fill: rgb(97, 51, 128);
}

nav a {
  background-image: none;
  text-transform: uppercase;
  font: 400 20px Oswald;
  letter-spacing: 1px;
  color: #4a4a4a;
}

.navbar-links {
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

.icon-link {
  padding: 10px 10px 5px 10px;
  display: inline-block;
}

.icon {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 450px) {
  .icon {
    width: 15px;
    height: 15px;
  }

  nav a {
    font: 400 12px Oswald;
    letter-spacing: 1px;
    color: #4a4a4a;
  }
}