h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, "PT Sans", "Fira Code", Consolas, Monaco, "Andale Mono",
    "Ubuntu Mono", monospace;
  font-weight: normal;
}

h1 {
  color: var(--primary-header-color);
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-header-color);
}

.blog-header {
  font: 400 70px Oswald;
  letter-spacing: 6px;
  word-spacing: 9px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  .blog-header {
    font: 400 50px Oswald;
    letter-spacing: 4px;
    word-spacing: 6px;
  }
}

@media screen and (max-width: 450px) {
  .blog-header {
    font: 400 40px Oswald;
    letter-spacing: 4px;
    word-spacing: 6px;
  }
}

@media screen and (max-width: 365px) {
  .blog-header {
    font: 400 30px Oswald;
    letter-spacing: 3px;
    word-spacing: 4px;
  }
}

p {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

a {
  text-shadow: none;
  color: var(--primary-color-light);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 1px,
    var(--primary-color-light) 1px,
    var(--primary-color-light) 2px,
    rgba(0, 0, 0, 0) 2px
  );
}

blockquote {
  border-left: 5px solid var(--primary-color);
}
