h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans";
}

p {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

a {
  text-shadow: none;
}

blockquote {
  border-left: 5px solid rgba(97, 51, 128, 0.612);
}
