:root {
  --primary-color: #613380;
  --primary-color-light: #613380;
  --primary-color-dark: #613380;
  --secondary-color: #ffffff;
  --secondary-color-light: #4a4a4a;
  --font-color: #000000cc;
  --bg-color: #ffffff;
  --code-bg-color: #272c34;
  --code-inline-bg-color: #f3e6f1;
  --logo-color: #ffffff;
  --primary-header-color: #000000;
  --secondary-header-color: var(--primary-header-color);
  --blog-card-border-color: #d6d6d6;
  --divider-color: hsla(0, 0%, 0%, 0.2);
  --faded-highlight: #f3e6f1;
  --gradient-color: linear-gradient(
    45deg,
    rgba(17, 84, 122, 1) 0%,
    rgba(142, 85, 153, 1) 52%,
    rgb(31, 48, 122) 100%
  );
}

[data-theme="dark"] {
  --primary-color: #cc80db;
  --primary-color-light: #e392f3;
  --primary-color-dark: #7f348f;
  --secondary-color: #50555e;
  --secondary-color-light: #ccd2dd;
  --font-color: #ccd2dd;
  --bg-color: #282c34;
  --code-bg-color: #23262c;
  --code-inline-bg-color: #381f3d83;
  --logo-color: #dfe5f1;
  --primary-header-color: var(--secondary-color-light);
  --secondary-header-color: var(--primary-color);
  --blog-card-border-color: var(--secondary-color);
  --divider-color: hsla(0, 0%, 100%, 0.2);
  --faded-highlight: #e28cd531;
  --gradient-color: linear-gradient(
    45deg,
    rgba(22, 116, 171, 1) 0%,
    rgba(227, 146, 243, 1) 52%,
    rgb(97, 120, 197) 100%
  );
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

hr {
  background: var(--divider-color);
}

:focus {
  outline-color: var(--primary-color);
}
