.socialLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 30px 0;
  color: red
}

.socialLinks > div {
  margin: 5px 15px;
  cursor: pointer;
}

.shareCount {
  text-align: center;
}